
*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}



/*
General
*/

a{
  color: #111111;
  font-weight: 600;
}

ul{
  list-style-type: none;
}

h6{
  color: #495E57;
}

.display-text{
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
}


p{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}


.sub-text{
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.text-align-center{
  text-align: center;
}

.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}

.material-symbols-rounded {
  color:#aaa;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.stur{
  color:#F4CE14;
}
.button{
  align-items: center;
  color: #111111;
  cursor: pointer;
  background: #F4CE14;
  border-radius: 12px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  padding: 12px 16px;
  text-decoration: none;
}
.button:hover{
  background: #fabd06;
}

.button:disabled{
  background: #ccc;
  border: 1px solid transparent;
  color: #999;
}

.button-full-width{
 width: 100%;
}

.gap-24{
  gap: 24px;
}
.mb-32{
  margin-bottom: 32px
}
.mb-16{
  margin-bottom: 16px;
}
.mb-8{
  margin-bottom: 8px;
}
/*
Layout
*/
.section{
  padding: 64px 0px;
}



/*
Navigation
*/
.main-nav{
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding: 16px 180px;
}
.main-nav a{
  text-decoration: none;
  margin-bottom: 0px;
}
.main-nav li{
  margin-bottom: 0px;
}

.main-nav ul{
  display: flex;
  flex-direction: row;
  gap: 16px;
}


/*
Header
*/

header{
  background: #495E57;
  color: #ffffff;
  display: flex;
  gap: 64px;
  padding: 40px 180px;
}
header .col{
  align-items: flex-start;
}
header h1{
  color: #F4CE14;
}
.hero-image{
  border-radius: 24px;
}



/*
Main
*/

main{
  background: #ffffff;
  padding: 40px 180px;
}


.card{
  background: #EDEFEE;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}
.card-title{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

}
.card-bottom{
  padding: 16px;
}
.card-image{
  width: 100%;
}

.price{
  color: #EE9972;
  font-weight: 700;
}

.text-bold{
  font-weight: 700;
}
.error-message{
  align-items: center;
  background: red;
  border-radius: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64px;
}
/*
Footer
*/

footer{
  background: #EDEFEE;
  display: grid;
  grid-template-columns: 128px 1fr 1fr 1fr;
  padding: 40px 180px;
}
ul li{
  margin-bottom: 16px;
}

footer h6{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer-logo{
  width: 72px;
}
input:invalid{
  border: 2px solid red;
}

input, .input-field{
  border:1px solid rgba(30,30,30,0.25);
  border-radius: 8px;
  padding: 12px;
}
/* Booking Form */
.booking-page{
  background: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.booking{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.booking-form{
  align-items: center;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  width: 100%;
  max-width: 640px;
}

.input{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.confirmation-page{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.confirmation-message{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 320px;
}

/* Existing styles */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 1024px) {
  header{
    padding: 40px 72px;
  }
  header img{
    width: 300px;
  }
  main{
    padding: 40px 72px;
  }
  footer{
    padding: 40px 72px;
  }
  .main-nav{
    padding: 40px 20px;
  }

}

@media only screen and (max-width: 600px) {
  header{
    padding: 40px 20px;
    flex-direction: column;
  }
  header img{
    width: 100%;
  }
  main{
    padding: 40px 20px;
  }
  .row{
    flex-direction: column;
    gap: 32px;
  }
  footer{
    grid-template-columns: 1fr;
    gap: 28px;
    padding: 40px 20px;
  }
  .main-nav{
    padding: 40px 20px;
    //gap: 16px;
  }
  .main-nav img{
    width: 120px;
  }
  .main-nav-link-poof{
    display:none;
  }
  .booking-form{
    max-width: calc(100% - 40px);
  }

}


